.Toggle-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 300px;
    overflow: hidden;
    transition: width 0.3s;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 5px 10px;
    border-radius: 4px;
    margin-top: 10px;
    margin-right: 20px;
  }
  
  /* Expanded toggle section styles */
  .App-main.expanded .Toggle-section {
    width: 200px;
    padding: 20px;
  }
  
  /* Toggle switch styles */
  .Toggle-switch {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    cursor: pointer;
  }
  
  .Toggle-switch span {
    margin-right: 10px;
    font-size: 16px;
  }
  
  .Switch-button {
    width: 40px;
    height: 24px;
    border-radius: 12px;
    background-color: #e5e5e5;
    position: relative;
  }
  
  .Switch-button.checked {
    background-color: #50c878; /* Change color for checked state */
  }
  
  .Switch-button:before {
    content: '';
    width: 20px;
    height: 20px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    top: 2px;
    left: 2px;
    transition: transform 0.3s;
  }